* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #303033;
  font-weight: 700;
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.card1 {
  width: 240px;
  height: 490px;
  padding: 1rem;
  border: 28px solid #fffafa;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px#c0c0c0;
  text-align: center;
  margin-left: 230px;
  margin-top: 60px;
  vertical-align: middle;
}

.card2 {
  width: 245px;
  height: 490px;
  padding: 1rem;
  border: 28px solid #fffafa;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px#c0c0c0;
  text-align: center;
  margin-left: 605px;
  margin-top: -576px;
  vertical-align: middle;
}

.card3 {
  width: 287px;
  height: 527px;
  border: 25px solid #fffafa;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px#c0c0c0;
  text-align: center;
  margin-left: 985px;
  margin-top: -580px;
}

.card4 {
  width: 282px;
  height: 538px;
  border: 25px solid #fffafa;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px#c0c0c0;
  text-align: center;
  margin-left: 225px;
  margin-top: 15px;
}

.card5 {
  width: 282px;
  height: 538px;
  border: 25px solid #fffafa;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px#c0c0c0;
  text-align: center;
  margin-left: 605px;
  margin-top: -590px;
}

.card6 {
  width: 287px;
  height: 530px;
  border: 25px solid #fffafa;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px#c0c0c0;
  text-align: center;
  margin-left: 985px;
  margin-top: -580px;
}

p {
  font-family: "Pacifico", cursive;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #909090;
  text-align: center;
}

.photo {
  border-radius: 0.5rem;
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: #0000ff;
  margin-left: 155px;
}

hr {
  border-top: 1px solid #303033;
  margin-top: 10px;
}
