h1 {
  color: #303033;
  font-weight: 700;
  margin-left: 30px;
  font-family: "Andale Mono", monospace;
  margin-left: 620px;
}

h2,
h3 {
  font-weight: 700;

  font-family: "Andale Mono", monospace;
}

p {
  font-family: "Andale Mono", monospace;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
  color: #909090;
  text-align: center;
}

.card {
  width: 300px;
  padding: 1rem;
  border: 3px solid #fffafa;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px#c0c0c0;
  text-align: center;
  margin-left: 600px;
}

.card img {
  border-radius: 0.5rem;
}

hr {
  border-top: 1px solid #c0c0c0;
}

a {
  text-decoration: none;
}
