/*------1440--------*/
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1320px;
  }

  .small-container {
    max-width: 1080px;
  }

  .container-up {
    max-width: 1320px;
  }
  .containerBasement {
    max-width: 1320px;
  }

  .section3 .photo {
    width: 100%;
  }
}

/*------1024--------*/
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .container {
    max-width: 904px;
  }

  .small-container {
    max-width: 664px;
  }

  .container-up {
    max-width: 904px;
  }

  .containerBasement {
    max-width: 904px;
  }

  .facebookInf {
    display: none;
  }

  .section1 .point-last {
    display: none;
  }

  .section3 .cards {
    display: grid;

    grid-template-columns: 1fr 1fr;
  }
}

/*------768--------*/
@media screen and (max-width: 768px) and (min-width: 544px) {
  .section3 .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section1 .head {
    grid-template-areas:
      "info"
      "Logo"
      "nav";
  }

  .container {
    max-width: 648px;
  }

  .small-container {
    max-width: 648px;
  }

  .container-up {
    max-width: 648px;
  }
  .containerBasement {
    max-width: 398px;
    padding: 0;
  }

  .info {
    justify-content: flex-start;
    margin-bottom: 25px;
  }

  .nav {
    justify-content: flex-start;
  }

  .Logo {
    margin-bottom: 25px;
  }

  footer .containerBasement {
    max-width: 398px;
  }

  .footer {
    display: block;
  }

  footer .phone {
    display: block;
  }

  footer .right-side {
    justify-content: center;
    margin-top: 30px;
  }
}

/*--------544--------*/

@media screen and (max-width: 544px) and (min-width: 376px) {
  .section3 .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section1 .head {
    grid-template-areas:
      "info"
      "Logo"
      "nav";
  }

  .container {
    max-width: 648px;
  }

  .small-container {
    max-width: 648px;
  }

  .container-up {
    max-width: 648px;
  }
  .containerBasement {
    max-width: 398px;
  }

  .section1 .nav,
  .city,
  .facebookInf {
    display: none;
  }

  .info {
    justify-content: flex-start;
  }

  header {
    background-color: #f5f5fa;
    padding: 10px 0 10px 0;
  }

  .inf {
    justify-content: space-between;
  }

  .phone {
    justify-content: flex-end;
  }

  .navigation {
    position: absolute;
  }

  .head {
    grid-template-areas: "info ";
  }

  .section1 {
    margin: 0;
  }

  .mobileMenu {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .point-wrapper {
    display: none;
  }

  .nav {
    justify-content: flex-start;
  }

  .Logo {
    margin-bottom: 25px;
    display: none;
  }

  .footer {
    display: block;
  }

  .basement {
    display: block;
  }
  footer .point {
    display: none;
  }

  .footer {
    display: block;
  }

  footer .city {
    display: block;
    margin-bottom: 10px;
  }

  footer .mapPoint {
    display: block;
    text-align: center;
  }

  .contactsFooter {
    display: block;
    text-align: center;
    margin-top: 21px;
    padding-top: 0px;
  }

  footer .right-side {
    text-align: center;
    display: block;
  }

  .right-side {
    justify-content: center;
    margin-top: 30px;
  }
}

/*------375--------*/

@media screen and (max-width: 375px) {
  .section3 .photo {
    height: 300px;
  }

  .small-container {
    max-width: 315px;
  }

  .container {
    max-width: 315px;
  }

  .container-up {
    max-width: 315px;
  }

  .containerBasement {
    max-width: 315px;
  }

  .section3 .cards {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section1 .nav,
  .city,
  .facebookInf {
    display: none;
  }

  .point-wrapper {
    display: none;
  }

  .section2 .description {
    font-size: 30px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 30px;
    letter-spacing: 0em;
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .Logo {
    display: none;
  }

  header {
    background-color: #f5f5fa;
    padding: 10px 0 10px 0;
  }

  .inf {
    justify-content: space-between;
  }

  .phone {
    justify-content: flex-end;
  }

  .navigation {
    position: absolute;
  }

  .head {
    grid-template-areas: "info ";
  }

  .section1 {
    margin-bottom: 0;
    margin-top: 0px;
  }

  footer .point {
    display: none;
  }

  .footer {
    display: block;
  }

  footer .city {
    display: block;
    margin-bottom: 10px;
  }

  footer .mapPoint {
    display: block;
    text-align: center;
  }

  .contactsFooter {
    display: block;
    text-align: center;
    margin-top: 21px;
    padding-top: 0px;
  }

  footer .right-side {
    text-align: center;
    display: block;
  }

  .logo-mob {
    max-height: 32px;
  }
  .logoSlash {
    max-height: 26px;
  }

  .section2 {
    padding-top: 15px;
  }

  .mobileMenu {
    display: flex;
  }
}
